<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="jp.co.jim.repository.UserActionMapper">

    <insert id="insertUserAction" parameterType="jp.co.jim.entity.HisUserOperation">
        insert into `test01`.`t_hist_operation` values (0,#{USER_ID}, #{USER_OPERATION_DETAILS},
        'UserActionMonitor',NOW())
    </insert>
    <select id="findByUsername">
        select * from `test01`.`idpassword` where user_id = '${username}' and role_type =2 and role_flag =0
    </select>
    <select id="selectAll" resultType="jp.co.jim.entity.DGMainEntity">
        select * from `test01`.`drop_down_for_dgmain`
    </select>

    <update id="updateDGUserPassword"
            parameterType="jp.co.jim.entity.UserEntity">
        UPDATE `test01`.`idpassword` SET user_password = '${new_password}', upd_dt =NOW(), upd_by ='DGPasswordChangeScreen' WHERE user_id = '${user_id}' AND role_type = 2 AND role_flag= 0
    </update>


</mapper>