.criteria-table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

.criteria-table th,
.criteria-table td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: left;
}

.criteria-table th {
    font-weight: bold;
    background-color: #f2f2f2;
}

.criteria-actions {
    text-align: right;
    /* 讓按鈕居中 */
}

.criteria-actions button {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 20px;
}


.record-count {
    text-align: left;
    margin-top: 20px;
    font-weight: bold;
}

.no-data {
    text-align: left;
    padding: 20px;
    font-style: italic;
    color: #999;
}