<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO" name="server-login">
    <Properties>
        <Property name="log-path">D:/java_log/menkonLog</Property>
        <Property name="file-size">500 MB</Property>
        <Property name="file-interval">1</Property>
    </Properties>
    <Appenders>
        <RollingFile name="file-log-default" fileName="${log-path}/menkonserver.log"
                     filePattern="${log-path}/menkonserver.log-%d{yyyy-MM-dd}.%i.log.gz">
            <PatternLayout>
                <pattern>%d{DEFAULT} [%t] %-5level %c{1} - %msg{nolookups}%n</pattern>
            </PatternLayout>
            <Policies>
                <SizeBasedTriggeringPolicy size="${file-size}"/>
                <TimeBasedTriggeringPolicy interval="${file-interval}" modulate="true"/>
            </Policies>
            <DefaultRolloverStrategy>
                <!-- <Delete basePath="${log-path}">
                    <IfFileName glob="menkonserver.log-*.log.gz"/>
                </Delete> -->
            </DefaultRolloverStrategy>
        </RollingFile>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{DEFAULT} [%t] %-5level %c{10} - %msg{nolookups}%n"/>
        </Console>
    </Appenders>
    <Loggers>
        <Logger name="com.jim" level="DEBUG">
            <AppenderRef ref="file-log-default"/>
        </Logger>
        <Root level="DEBUG">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="file-log-default"/>
        </Root>
    </Loggers>
</Configuration>
