<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <style>
    </style>
</head>
<body>
    <h4>Dear <span th:text="${emailAddress}"></span> 様</h4>
    <p>ログインID の登録手続きが完了しました。</p>
	<p>あなたの会員番号は <span th:text="${userID}"></span> でございます。</p>
	<p>引き続きアプリをご利用ください。</p>
	<p>●お問い合わせフォームからのお問い合わせ</p>
	<a href="https://www.google.com.tw/">https://www.google.com.tw/</a>
	<p>●お電話からのお問い合わせ</p>
	<p>カスタマーサービスセンター</p>
	<p>012-345-6789</p>
	<p>受付時間 平日9:00 ～ 17:30（夏季・冬季休業あり</p>
	<p>※本メールは自動送信メールです。本メールにご返信いただきましても、対応できませんのでご了承ください。</p>	
</body>
</html>