h2 {
  color: black;
}

button:disabled {
  background-color: lightgray;
  cursor: not-allowed;
}
.checkExcel-btn {
  background-color: #007bff;
  color: white;
  //   padding: 20px;
  border: none;
  width: 110px;
  height: 60;
  border-radius: 5px;
  font-size: 25px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.enabled-button {
  background-color: #007bff; /* Blue color or your preferred color */
}

.disabled-button {
  background-color: #6c757d; /* Gray color for disabled state */
  cursor: not-allowed; /* Shows a not-allowed cursor */
}

/* 設置進度條的樣式 */
.progress-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 60%;
  height: 20px;
  background-color: #e0e0e0;
  border-radius: 10px;
  overflow: hidden;
}

.progress-bar {
  width: 100%;
  height: 100%;
  background: linear-gradient(
    90deg,
    rgba(0, 123, 255, 0.5) 25%,
    transparent 25%,
    transparent 50%,
    rgba(0, 123, 255, 0.5) 50%,
    rgba(0, 123, 255, 0.5) 75%,
    transparent 75%,
    transparent
  );
  background-size: 200% 100%;
  animation: loading-stripes 1.5s linear infinite;
}
