<h2>Caution Note</h2>
<p>The maximum number of rows for searches via Excel file is 500.</p>

<div>
  <label for="search-title">1. Set the Search Title</label><br />
  <input
    type="text"
    id="search-title"
    [(ngModel)]="searchTitle"
    placeholder=""
  />
</div>

<div>
  <br />
  <label for="file-input">2. Select the Search Criteria Excel File</label>
</div>
<div>
  <input type="file" id="file-input" (change)="onFileSelected($event)" />
</div>

<a href="/assets/SearchByExcelTemplate/VECSearchByExcelTemplate.xlsx" download
  >Download Template</a
>
<br /><br />
<div>
  <label for="search-title">3. Upload and Check the Excel</label><br />
  <button type="button" class="checkExcel-btn" (click)="onCheckFile()">
    Check
  </button>
</div>

<div>
  <label for="search-title">4. Search the Result.</label><br />
  <button
    type="button"
    class="checkExcel-btn"
    [ngClass]="{
      'disabled-button': !isSearchEnabled,
      'enabled-button': isSearchEnabled
    }"
    (click)="onSearch()"
  >
    Search
  </button>

  <!-- 在畫面中央顯示的進度條 -->
  <div *ngIf="isLoading" class="progress-container">
    <div class="progress-bar">
      <div class="progress-stripes"></div>
    </div>
  </div>
</div>
